.cart-upper-part{
    text-align:center;
}

.cart-lower-part{
    font-weight: 600;
    font-size: 19px;
}
.color{
    color: #b12704;
}
.link{
    text-decoration: none;
}
.link:hover{
    background-color: white;
}
